/* Font List */
@import url('https://fonts.googleapis.com/css2?family=Bungee');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');

body {
    color: white;
    font-family: "Roboto Slab";
    background-color: #235390;

}

.font-bungee {
    font-family: "Bungee";
    font-size: 120%;
}

.pushable {
    color: white;
    border-radius: 12px;
    outline-offset: 4px;
    position: relative;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: filter 600ms;
    font-family:"Bungee";
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    transform: translateY(2px);
    filter:blur(4px);
  }
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
  .front {
    display: block;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    transform: translateY(-4px);
  }

  .edge-green {
    background: linear-gradient(
        to left,
        hsl(85deg 100% 16%) 0%,
        hsl(85deg 100% 32%) 8%,
        hsl(85deg 100% 32%) 92%,
        hsl(85deg 100% 16%) 100%
      );
  }

  .front-green {
    background: #58CC03;
  }

  .edge-red {
    background: linear-gradient(
        to left,
        hsl(340deg 100% 16%) 0%,
        hsl(340deg 100% 32%) 8%,
        hsl(340deg 100% 32%) 92%,
        hsl(340deg 100% 16%) 100%
      );
  }

  .front-red {
    background: hsl(345deg 100% 47%);
  }

  .pushable:hover {
    transition: filter 250ms;
    filter: brightness(110%);
  }
  
  .pushable:hover .front {
    transform: translateY(-6px);
  }
  .pushable:hover .shadow {
    transform: translateY(4px);
  }
  .pushable:active .front {
    transform: translateY(-2px);
  }
  .pushable:active .shadow {
    transform: translateY(1px);
  }
  
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }

.custom-h1 {
    font-weight: 500;
    font-size: 380%;
    padding-top: 4rem;
}

.custom-p {
    font-size: 120%;
    padding-bottom: 1rem;
}

#subheader {
    text-align: center;
    font-size: 150%;
}

#subheader2 {
    text-align: center;
    font-size: 120%;
}

.str-bs {
    padding-top: 4rem;
    text-align: center;
}
.str-bs h2 {
    font-size: 280%;
}
.home-el {
    padding-bottom: 9rem;
}

.btn-primary {
    font-weight: 600;
    border-width: 2px;
}
.btn-secondary {
    outline-color: black;
}
.about-section {
    padding-top: 3rem;
}
.about-section h2 {
    text-align: center;
    font-size: 280%;
}
.abt-dtl {
    padding-top: 4rem;
}
.pg-abt {
    font-size: 140%;
    padding-bottom: 6rem;
}
.set-img {
    padding-bottom: 2rem;
}
.card-body {
    border:1px solid #fcfcf9 ;
}
.card {
  background-color: #fcfcf9 ;
  color: #17365f;
}
.card:hover {
    background:white;
    color: #17365f;;
  }

  .card1:hover .list-group-item{
    background:#fcfcf9 !important

  }

  
  #centeredRow{
    /* Center child horizontally*/
    display: flex;
    justify-content: center;
  }


  .card2:hover {
    background: #fcfcf9 ;
  }

  .card2:hover .list-group-item{
    background:#fcfcf9  !important
  }


  .card3:hover {
    background:#fcfcf9 ;
  }

  .card3:hover .list-group-item{
    background:#fcfcf9  !important
  }


  .card:hover .btn-outline-dark{
    color:white;
    background:#fcfcf9 ;
  }
.contact-pg {
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.contact-pg h2 {
    font-size: 280%;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.text-colored {
    font-weight: bold;
}

.card-font-black {
    color: black;
}

.white-background {
  background-color: white;
  color: #17365f;
}
